version: '2'

services:
  dmall-registry-server:
      image: dmall-docker-registry:5000/dmall/registry-server:latest
      mem_limit: 1024m
      networks:
          - jenkins_dmall-network
      ports:
          - "8761:8761"

networks:
  jenkins_dmall-network:
    external: true